.main {
  background-color: #fff;
  background: #fff;
  padding: 30px 120px;
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  
}


.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 30px;
  
}

.googleButton{
  width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    border-radius: 30px;
    background: transparent;
    border: 3px solid  #c76401;
    font-weight: 500;
    cursor: pointer;
    height: 45px;
    margin-top: 2px;
}

.appleButton{
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 30px;
  background: transparent;
  border: 3px solid  #c76401;
  font-weight: 500;
  cursor: pointer;
  height: 45px;

}
.btn h3{
  margin-top: 5px;
}

.accountButton{
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 30px;
  background: transparent;
  border: 3px solid  #c76401;
  font-weight: 500;
  cursor: pointer;
  height: 45px;
  color: aliceblue;
  background-color: black;

}

.main a{
  cursor: pointer;
  
  color:  #c76401;
}

.main a:hover{
  color: rgb(46, 168, 221);
  text-decoration: underline;
}






/* * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    background: #fff;
    padding: 30px 40px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
  }
  
  
  

  
  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .googleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 1px solid gray;
    color: black;
    padding:  20px 16px;
    font-size: 1.1rem;
    border-radius: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 70%;
    cursor: pointer;
  }
  
  
  .appleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 1px solid gray;
    color: black;
    padding:  20px 16px;
    font-size: 1.1rem;
    border-radius: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 70%;
    cursor: pointer;
  }
  
  .accountButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    border: 1px solid gray;
    color: white;
    cursor: pointer;
    padding:  20px 10px;
    font-size: 1.1rem;
    border-radius: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 70%;
  }
  
   p {
       font-weight: bold;
       font-size: 14px;
   }
  
  
  .heading4 {
    margin-top: 10px;
  }
  
  a{
    color: rgb(29, 155, 240);
    cursor: pointer;
    
  }
  
  a:hover{
    text-decoration: underline;
    color: rgb(29, 155, 240);
  }
   */